<div id="id">
    <!-- Section A -->
    
    <section id="section-a" class="grid">
        <div class="content-wrap">
         <b> <h1 style="text-align:center; margin-bottom: 15px; font-size:40px; margin-top: 10px;">About us</h1></b>
            <h2 class="content-title">Strategies</h2>
            <P>Web & Application Development Courses</P>
            <div class="content-text">
                <p>App interfaces need a solid foundation. Well-executed UX exposes and helps us diagnose design challenges before they become problems.
  
                        Our designers then develop great user interface designs that go deeper than pretty pixels. They create interfaces that are delightful with beautiful visuals and seamless, intuitive interactions.</p>
                        <p>We love bringing our concepts to life using a variety of languages and platforms. We understand that code is a living entity that needs to scale and adapt as your business grows and new information comes to light. We’ll help you pick the stack that fits the nature of your project and long-term goals, delivering a final product that prioritizes maintainability.</p>
            </div>
        </div>
    </section>
  
    <!-- Section B -->
    <h2 class="content-title" style="text-align: center; margin-top: 10px;">Courses that we offer</h2>
    <section id="section-b" class="grid">
  
        <ul>
          
            <li>
                
                 <div class="card">
                    <img src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
                    <div class="project-title">
                    <div class="card-content">
                        <h3 class="card-title">Web Developement</h3>
                        <p>Our developers create interactive web experiences using the latest technologies, ensuring they display on mobile, desktop and tablets.</p>
  
                           
                    </div>
                 </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="https://images.pexels.com/photos/261628/pexels-photo-261628.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
                    <div class="card-content">
                        <h3 class="car-title">Mobile Applications</h3>
                        <p>Our UI designers are well-versed across both Android an iOS. With their wide range of experience, they will create an application with the appropriate UI design to appeal to your customers and create a pleasant novel experience across all mobile platforms.</p>
                        
                           
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="https://images.pexels.com/photos/33972/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
                    <div class="card-content">
                        <h3 class="car-title">Tech Marketing</h3>
                        <p>Our senior strategy consultants will help you refine your target market and their needs, clearly articulate your value proposition, and then identify the right marketing channels to reach your target customers.</p>
                        
                    </div>
                </div>
            </li>
        </ul>
    </section>
  
    <!-- Section C -->
    <section id="section-c" style="margin-bottom: 20px;" class="grid">
        <div class="content-wrap">
            <h2 class="content-title">We handle all of your digital needs</h2>
            <p>From Digital marketing and Web Development to Web and Mobile Applications. <br> We can do it all.  Please checkout the Services section for more details</p>
        </div>
      <!--  <h2 class="content-title"><a [routerLink]="['/contacts']" class="btn">Contact Us</a></h2> -->
      <ion-button [routerLink]="['/contacts']" expand="block" fill="outline" shape="round">Contact us</ion-button>
        <div class="content-wrap" style="margin-bottom: 10px;">
        <p>If you have any question, feel free to contact us.<br>
        We take pride in providing the highest quality and most inntuative designs and services to our Students.</p>
        <ion-icon  name="logo-facebook"></ion-icon>
                  <ion-icon  name="logo-twitter"></ion-icon>
                  <ion-icon name="logo-linkedin"></ion-icon>
                  <ion-icon  name="logo-github"></ion-icon>
        </div>
    </section>
  