<div style="margin-bottom: 70px;" style="background-color: white;">

  <section id="main-content-latest">

    <section id="latest-courses"> 


  <ion-item-divider class="category">
    <h2 class="subheaders">Popular Instructors</h2>
   
  </ion-item-divider>


  <mat-card class="lcourse-card instructor"  >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/instructors/instructor 1.jfif">
    </ion-avatar>

    <mat-card-content style="text-align: center;" >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

   <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon>  
    
   <ion-icon class="social" color="danger" name="logo-google"></ion-icon>
    
   <ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="lcourse-card instructor" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/instructors/instructor2.jfif">
    </ion-avatar>

    <mat-card-content style="text-align: center;" >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     
     <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon>

      <ion-icon class="social" color="danger" name="logo-google"></ion-icon>

      <ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

    </mat-card-content>
    
  </mat-card>
  

</section>

</section>

</div>
