
  .instructors{
  font-size: medium;
    font-weight: bold;
   font-style: italic;
   color: gray;


  }

  .ins{
      font-size: medium;
      color: gray;
      font-weight: bold;
  }
  .quali
  {font-size: medium;
    color:grey;
 font-weight: 500;
 
      
  }
  h3{
      color: grey;
  }
 