<ion-header>
  <ion-toolbar>
    <ion-title>Add Course</ion-title>

    <ion-buttons slot="end">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="close()">
        <ion-icon size="large" name="close-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>

  <ion-item>
    <ion-label position="fixed">Course Name</ion-label>
    <ion-input #coursename type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Course Category</ion-label>
    <ion-select placeholder="Select One" #category>
      <ion-select-option value="IT">IT</ion-select-option>
      <ion-select-option value="Finances">Finances</ion-select-option>
      <ion-select-option value="Photography">Photography</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Course Price</ion-label>
    <ion-input #price type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Course Image</ion-label>
    <ion-input type="file" accept="jpeg" (change)="uploadFile($event)"></ion-input>
  </ion-item>

  <ion-button color="dark" expand="block"  (click)="addCourse(coursename.value, category.value, price.value)">Add Course</ion-button>

</ion-content>
